.profile {
  padding-top: 36px;
  padding-bottom: 47px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

@media (max-width: 680px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0;
    padding-top: 38px;
  }
}