.element__description {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 21px 31px;
}

@media (max-width: 420px) {
  .element__description {
    width: 282px;
    padding: 0;
  }
}