.element__icon {
  background-image: url(../../../images/like.svg);
  border: none;
  width: 23px;
  height: 19px;
  padding: 0;
  margin-left: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.element__icon:hover {
  opacity: 0.5;
}

@media (max-width: 420px) {
  .element__icon {
    padding: 0 30px;
  }
}